#Visual Studio
.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.spv

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data
*.png

# User CMake
*.env.cmake

# Build Files
.build/*
build/*

# Conan Imports & files
conaninfo.txt
bindings/*

# Environment Files
.env.cmake

# VS Code
.vscode/*
